/*Custom properties----COLORES PERSONALIZADOS*/

:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris:#757575;

}
html {
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    color:brown
}

.titulo span{
    font-size: 2rem;
    color:gray
}

.Navegaci贸n-Principal{
    background-color: var(--secundario);
}

.contenedor {
    width: 120rem;
    /*margin-top:0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; */

    /*margin: 0 auto 0 auto; Tomando las posiciones de in reloj*/
    margin: 0 auto; /*El primer valor corresponde a top botom y el segundo valor corresponde a rigth y left */
}

.nav-bg{
    background-color: var(--secundario);
}

.Navegaci贸n-Principal {
    
    display: flex;
    justify-content: space-between;
    /* Justify-content es para filas, 
    aline -items es para columnas flrx-direction*/
    font-size: 2rem;
    font-weight: bold; /*Letras en negritas*/
    
}
.Navegaci贸n-Principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);

}

.Navegaci贸n-Principal a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
}
